
body{

	background-color: black;
}

#group_leader{

width: 80%;
margin: auto;
text-align: center;
background-color: hotpink;
text-transform: capitalize;


}

#muhammad_tijjani{
	background-color: #ADCACB;
	text-align: center;
	overflow: none;
}